*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear

# open-tpl compiled files
*.otc
*.otpl

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/del/
/license.txt
/mano/target/
/mano-web/target/
/otpl4j/target/
/mano-server/target/
/maven-manoserver-plugin/target/
/test-webapp/target/
/test-webapp-projects/test-webapp/target/
/mano-server-projects/otpl4j/target/
/test-webapp-projects/test-webapp-dao/target/
/test-webapp-projects/test-webapp-model/target/
/mano-bootstrap/target/
/mano-service-http/target/
/DemoWebapp/target/
/open-tpl/target/
/mano-supports/target/
/del/maven-manoserver-plugin/target/