<?xml version="1.0" encoding="UTF-8"?>
<application>
    <settings>
        <property name="application.name">default application</property>
        <property name="application.host">*:8082</property>
        <property name="application.vpath">/</property>
        <property name="application.class">com.diosay.demowebapp.App</property>
        <property name="application.logger.category">{application.name}</property>
        <property name="application.public.data.path">{mano.dir}/AppData/{application.name}/public</property>
        <property name="application.private.data.path">{mano.dir}/AppData/{application.name}/private</property>
    </settings>
<!--    <dependency>
        <path value="E:\repositories\java\mano\mano\target\mano-1.4.0-BETA.jar"/>
    </dependency>-->
</application>
